# üìú IBM Data Science Professional Certificate  
*Curiosity to Capability ‚Äî One Notebook at a Time*

---

**Compiled and Authored by:**  
**Partho Sarothi Das**  
Dhaka, Bangladesh  
üéì Bachelor's & Master's in Statistics  
üíº Investment Banking Professional ‚Üí Aspiring Data Scientist  

>**Disclaimer:** This notebook is based on content from the [IBM Data Science Professional Certificate](https://www.coursera.org/professional-certificates/ibm-data-science) offered on Coursera. It is intended for personal learning and review purposes.

---
---

# Database Models & Relational Mapping

#### 1. **Relational Model:**

* Most widely used data model.
* Provides:

  * **Logical data independence**
  * **Physical data independence**
  * **Storage independence**

#### 2. **Entity-Relationship (ER) Model:**

* Used as a **design tool** to build relational databases.
* Focuses on **entities** and **their attributes**.

  * **Entity:** An object (e.g., *Book*, *Author*) ‚Üí becomes a **table**.
  * **Attribute:** Properties of entities (e.g., *Title*, *Year*) ‚Üí become **columns**.

#### 3. **ER Diagram (ERD):**

* **Entities**: Shown as rectangles.
* **Attributes**: Shown as ovals.
* Relationships between entities define how tables will be linked in the relational database.

---

### üîπ **Data Mapping to Tables:**

* Each **entity** becomes a **table**.
* Each **attribute** becomes a **column**.
* Data is stored as **rows**.

---

### üîπ **Common Data Types:**

* **VARCHAR / CHAR**: Text data
* **INTEGER / DECIMAL**: Numeric values
* **DATE / TIME / TIMESTAMP**: Date-time data

---

### üîπ **Primary Key:**

* A **unique identifier** for each row (tuple) in a table.
* Prevents **data duplication**.
* Essential for defining **relationships** between tables.

#### üî∏ **Foreign Key:**

* A primary key from another table.
* Used to **link tables** and enforce **referential integrity**.

---

### **Conclusion:**

* The **relational model** supports flexibility and independence.
* **Entities** and **attributes** in ER models are directly **mapped to tables and columns**.
* **Primary and foreign keys** define data integrity and relationships across tables.

---

# Types of SQL Statements in Relational Databases

#### 1. Data Definition Language (DDL):

* Used to **define or modify** database **objects** like tables.
* Common DDL commands:

  * `CREATE` ‚Äì Create tables and define columns.
  * `ALTER` ‚Äì Add, drop, or modify columns.
  * `TRUNCATE` ‚Äì Delete all data from a table without deleting the table itself.
  * `DROP` ‚Äì Delete a table entirely from the database.

---

#### 2. Data Manipulation Language (DML):

* Used to **interact with data** in tables (also known as **CRUD operations**):

  * `INSERT` ‚Äì Add new rows.
  * `SELECT` ‚Äì Retrieve data.
  * `UPDATE` ‚Äì Modify existing rows.
  * `DELETE` ‚Äì Remove rows.

---

### Conclusion:

* **DDL**: Focuses on database **structure** (tables, columns).
* **DML**: Focuses on **data** within the tables.

These two categories form the foundation of working with SQL in relational databases.

---

# CREATE TABLE in SQL (DDL Statement)

###  **Purpose:**

* The `CREATE TABLE` statement is used to **define a new table** in a relational database.
* It belongs to **DDL (Data Definition Language)**, which defines the structure of database objects.

---

### üîπ **Syntax Overview:**

```sql
CREATE TABLE table_name (
    column_name1 datatype [constraints],
    column_name2 datatype [constraints],
    ...
);
```

* You specify:

  * **Table name**
  * **Columns (attributes)**
  * **Data types** (e.g., `CHAR`, `VARCHAR`)
  * **Constraints** (e.g., `PRIMARY KEY`, `NOT NULL`)

---

### üîπ **Example 1:**

Creating a table for Canadian provinces:

```sql
CREATE TABLE provinces (
    id CHAR(2) PRIMARY KEY NOT NULL,
    name VARCHAR(24)
);
```

* `id`: 2-character province code (e.g., "AB", "BC")
* `name`: Full province name (up to 24 characters)

---

### üîπ **Example 2:**

Creating the `AUTHOR` table:

```sql
CREATE TABLE author (
    author_id CHAR(2) PRIMARY KEY NOT NULL,
    lastname VARCHAR(15) NOT NULL,
    firstname VARCHAR(15) NOT NULL,
    email VARCHAR(40),
    city VARCHAR(15),
    country CHAR(2)
);
```

* `author_id`: Primary Key ‚Äì must be unique and not null.
* `firstname` and `lastname`: Cannot be null ‚Äì ensures all authors have names.
* Other fields like `email` and `city` are optional.

---

### **Key Takeaways:**

* `CREATE TABLE` defines a new table with **columns and constraints**.
* **Primary Key** ensures **uniqueness** of rows.
* `NOT NULL` ensures **required fields** are not left blank.
* **CHAR** is for fixed-length text, **VARCHAR** for variable-length text.

---

# ALTER, DROP, and TRUNCATE SQL Statements

###  **1. ALTER TABLE**

Used to **modify the structure** of an existing table.
**Operations include:**

* **Add a column**

  ```sql
  ALTER TABLE author ADD COLUMN telephone_number BIGINT;
  ```
* **Modify column data type**

  ```sql
  ALTER TABLE author MODIFY telephone_number CHAR(20);
  ```
* **Drop a column**

  ```sql
  ALTER TABLE author DROP COLUMN telephone_number;
  ```

‚ö†Ô∏è Changing data types can cause **errors** if existing data is incompatible with the new type.

---

###  **2. DROP TABLE**

Used to **permanently delete a table** and all of its data from the database.
**Syntax:**

```sql
DROP TABLE author;
```

* This **removes the table structure and contents**.

---

###  **3. TRUNCATE TABLE**

Used to **quickly delete all rows** from a table **without deleting the table itself**.
**Syntax:**

```sql
TRUNCATE TABLE author IMMEDIATE;
```

* `IMMEDIATE` ensures the action is **executed instantly** and **cannot be rolled back**.

---

###  **Key Takeaways:**

* `ALTER TABLE`: **Change** table structure (add, modify, or drop columns).
* `DROP TABLE`: **Delete** the entire table and its data.
* `TRUNCATE TABLE`: **Clear all rows** in a table but keep the structure.

These commands help you maintain and adjust your database structure as needed.

# Key Concepts of Cloud Databases

###  **Why Use a Cloud Database?**

* **Cloud databases** are databases **hosted and accessed** via a cloud platform.
* Offer the same functionality as traditional databases, with added **flexibility and scalability**.

---

###  **Benefits of Cloud Databases:**

* **Ease of access** ‚Äì Use from anywhere via APIs or web interfaces.
* **Scalability** ‚Äì Dynamically adjust storage and compute resources as needed.
* **Disaster recovery** ‚Äì Data is backed up across geographically distributed cloud servers.

---

###  **Examples of Cloud Relational Databases:**

* **IBM Db2 on Cloud**
* **PostgreSQL on IBM Cloud**
* **Oracle Database Cloud Service**
* **Microsoft Azure SQL Database**
* **Amazon RDS (Relational Database Service)**

---

###  **Database-as-a-Service (DBaaS):**

* You **provision a service instance** on the cloud.
* The **service provider manages** the hardware, installation, and maintenance.
* You only manage the **data and SQL queries**.

---

###  **How to Create a Db2 on Cloud Instance (IBM Cloud Example):**

1. **Go to IBM Cloud catalog**, choose **Db2 service**.
2. Select the **Lite plan** (free tier).
3. Customize name, region, org, and space if needed.
4. Click **Create** to provision the instance.
5. Access the **Web Console** to:

   * Create tables
   * Load and explore data
   * Run SQL queries

---

###  **Service Credentials:**

* Needed for connecting your apps to the database.
* Include:

  * **Database name & port**
  * **Host name**
  * **Username & password**
* The **username is also the schema name** by default.

---

###  **Key Takeaways:**

* Cloud databases are easy to use, scalable, and reliable.
* DBaaS lets you focus on **data**, not infrastructure.
* IBM Db2 on Cloud is one such example, and you can set it up with a few clicks using a **free plan**.

---